*.bmp
*.bz2
*.gzip
*.gz
*.csv
*.docx
*.gif
*.jpg
*.jpeg
*lzma
*.pptx
*.pdf
*.pixil
*.png
*.tar
*.tar.gz
*.tgz
*.tar.gzip
*.tar.bz2
*.tbz
*.tbz2
*.tar.bzip2
*tar.Z
*.Z
*.taz
*.tif
*.tiff
*.txt
*.wav
*.xz